@keyframes fade
{
  from{opacity: 0;}
  to{opacity: 1;}
}
.fade
{
  transition: opacity 1s;
  animation-name:fade;
  animation-duration:1s;
}

.fade2
{
  transition: opacity 1s;
}

.show
{
  opacity:1;
}
.notShow
{
  opacity:0;
}
