.border2
{
  border-radius:5px;
  border:1px solid black;
  background-color: navajowhite;
  padding:5px;
  margin:5px;
  display:inline-flex;
}

.fade
{
  transition: opacity 0.5s;
}

.fadeAnim
{
  animation-name:fade;
  animation-duration:1s;
}

@keyframes fade
{
  from{opacity: 0;}
  to{opacity: 1;}
}
