.border
{
  border-radius:5px;
  border:1px solid black;
  background-color: brown;
  padding:5px;
  margin:5px;
}

.height
{
  min-height: 300px;
}

.flex1
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex2
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade
{
  from {opacity:0;}
  to {opacity: 1;}
}

.fade
{
  animation-name: fade;
  animation-duration:1s;
}

.absolute
{
  position:absolute;
}

.flex0
{
  display: flex;
  justify-content: flex-end;
}
